html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #77C3FF;
}

a {
	text-decoration: none;
	color:  #77C3FF;
}

.dropbtn {
	background-color: #F6D500;
	color: white;
	padding: 30%;
	font-size: 18px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: white;
	color: #F6D500;
}

.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 450px;
	margin-left: 1%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #77C3FF;
	font-size: 25px;
	text-decoration: none;
	padding: 2%;
}

.dropdown-content a:hover {text-decoration: underline;}

.show {display: block;}

div select {
    display: block;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    textarea {font-size: 20px;}
}

input[type="text"] {
    border-color: #77C3FF;
    border-style: solid;
    font-size: 20px;
    width: 150px;
    height: 32px;
    font-family: 'Lato', sans-serif;
}